<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lacty.it.trucphong">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icontrucphong64"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconscreenshot"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrucPhong">

        <activity android:name=".LuuTruNgoai"></activity>
        <activity android:name=".ChupManHinh"></activity>
        <activity android:name=".DanhSachTrucPhong" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>